*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Microsoft YaHei", sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

div {
    margin: 20px;
    padding: 5px;
    border: 2px black solid;
}

a {
    text-decoration: none;
    color: black;
}